<div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
>
    <span class="visually-hidden">Yükleniyor...</span>
</div>

<div class="mb-3">
    <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText" 
    placeholder="Marka Belirleyiniz">
</div>

<ul class="list-group">
    <li 
    [class]="getAllBrandClass()"
    (click)="clearCurrentBrand()"
    > Markalar</li>
    <li 
    (click)="setCurrentBrand(brand)" 
    *ngFor="let brand of brands" 
    class="list-group-item">
        {{ brand.brandName }}
    </li>
</ul>